@font-face {
  font-family: 'mobirise-icons-bold';
  font-display: swap;
  src:  url('mobirise-icons-bold.ttf?m1l4yr') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="mbrib-"], [class*="mbrib-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mobirise-icons-bold' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.mbrib-bookmark:before {
  content: "\e90d";
}